section {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  max-width: 1128px;
  margin: 0;
}

.gallery-item {
  max-width: 360px;
}

.gallery-link {
}

.gallery-image {
  max-width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: url('../bluePoint.svg'), pointer;
}

.gallery-image:hover {
  transform: scale(1.04);
}

.sl-wrapper .sl-navigation button.sl-next {
  color: #ffffff;
}
.sl-wrapper .sl-navigation button.sl-prev {
  color: #ffffff;
}
.sl-wrapper button.sl-close {
  color: #ffffff;
}

.hidden-scroll .sl-wrapper {
  background: rgba(46, 47, 66, 0.8);
}

.hidden-scroll .sl-wrapper .sl-counter {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
