body {
  background-color: #f7f7f7;
}
section {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 408px;
  gap: 8px;
  border-radius: 8px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  max-width: 100%;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input:hover {
  border: 1px solid #000;
  outline: none;
}

input:focus {
  border: 1px solid #808080;
  outline: none;
}

textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  max-width: 100%;
  max-height: 80px;
  margin-bottom: 16px;
  resize: none;

  padding: 8px 16px;

  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  box-sizing: border-box;
}

textarea:hover {
  border: 1px solid #000;
  border-radius: 4px;
  outline: none;
}

textarea:focus {
  border: 1px solid #808080;
  outline: none;
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  transition: transform 0.2s, box-shadow 0.2s;
}

.form-btn:hover {
  background-color: #6c8cff;
  cursor: pointer;
}

.form-btn:active {
  transform: scale(0.95);
}
